@model PortalBrazucas.tabela

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tabela</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idTabela)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idTabela)
            @Html.ValidationMessageFor(model => model.idTabela)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.selecaoTabela, "selecoes")
        </div>
        <div class="editor-field">
            @Html.DropDownList("selecaoTabela", String.Empty)
            @Html.ValidationMessageFor(model => model.selecaoTabela)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.vitoriasTabela)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.vitoriasTabela)
            @Html.ValidationMessageFor(model => model.vitoriasTabela)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.derrotasTabela)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.derrotasTabela)
            @Html.ValidationMessageFor(model => model.derrotasTabela)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.empatesTabela)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.empatesTabela)
            @Html.ValidationMessageFor(model => model.empatesTabela)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.golsMarcados)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.golsMarcados)
            @Html.ValidationMessageFor(model => model.golsMarcados)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.golsSofridos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.golsSofridos)
            @Html.ValidationMessageFor(model => model.golsSofridos)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
