@model IEnumerable<PortalBrazucas.tabela>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idTabela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selecoes.nomeSelecao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vitoriasTabela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.derrotasTabela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empatesTabela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.golsMarcados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.golsSofridos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idTabela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.selecoes.nomeSelecao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vitoriasTabela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.derrotasTabela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empatesTabela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.golsMarcados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.golsSofridos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTabela }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTabela }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTabela })
        </td>
    </tr>
}

</table>
