@model IEnumerable<PortalBrazucas.anuncios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idanuncio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarios.nomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tituloAnuncio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.conteudoAnuncio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url_imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anuncioPublicado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idanuncio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarios.nomeUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tituloAnuncio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.conteudoAnuncio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url_imagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anuncioPublicado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idanuncio }) |
            @Html.ActionLink("Details", "Details", new { id=item.idanuncio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idanuncio })
        </td>
    </tr>
}

</table>
