@model PortalBrazucas.usuarios

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>usuarios</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.nomeUsuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nomeUsuario)
            @Html.ValidationMessageFor(model => model.nomeUsuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emailUsuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emailUsuario)
            @Html.ValidationMessageFor(model => model.emailUsuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.senhaUsuario)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.senhaUsuario)
            @Html.ValidationMessageFor(model => model.senhaUsuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idTipoUsuario, "tiposusuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idTipoUsuario", String.Empty)
            @Html.ValidationMessageFor(model => model.idTipoUsuario)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
